{% extends 'events/base.html' %}
{% load staticfiles %}


{% block title %}Event timeline{% endblock %}


{% block links %}
<link rel="stylesheet" {% if debug %}href="{% static 'bootstrap/dist/css/bootstrap.css' %}"{% else %}href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"{% endif %} />
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'timeliner/css/timeliner.min.css' %}" type="text/css" media="screen">
{% endblock %}


{% block content %}
<section id="timeline-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="timeline" class="timeline-container">
					<div class="timeline-wrapper">
						{% for event in event_list %}
						<p class="timeline-time">{{event.start|date:'Y/m/d'}} - {{event.finish|date:'Y/m/d'}}</p>
						<dl class="timeline-series">
							<dt class="timeline-event" id="event-{{event.pk}}">
							<a>{{event.name}}</a>
							</dt>
							<dd class="timeline-event-content" id="event-{{event.pk}}EX">
							<p>{{event.description}}</p>
						</dl>
						{% endfor %}

						{% for t in tournament_list %}
						<h3
							class="timeline-time">{{t.planned_start|date:'Y/m/d'}} - {{t.planned_finish|date:'Y/m/d'}}</h3>
						<dl class="timeline-series">
							<dt class="timeline-event" id="tournament-{{t.pk}}">
							<a>{{t.name}}</a>
							</dt>
							<dd class="timeline-event-content" id="tournament-{{t.pk}}EX">
							<p>{{t.description}}</p>
						</dl>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'timeliner/js/timeliner.min.js' %}">
</script>
<script type="text/javascript">
$(document).ready(function(){
	$.timeliner({
		startState: 'open'
	});
});
</script>
{% endblock %}
