{% extends 'events/base.html' %}
{% load staticfiles %}


{% block title %}Event timeline{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'timeliner/css/timeliner.min.css' %}" type="text/css" media="screen">
{% endblock %}


{% block content %}
<div id="timeline" class="timeline-container">
  <div class="timeline-wrapper">
    {% for event in event_list %}
    <h3 class="timeline-time">
      {{event.start|date:'Y/m/d'}} - {{event.finish|date:'Y/m/d'}}</h3>
    <dl class="timeline-series">
      <dt ckass="timeline-event" id="event-{{event.pk}}">
        <a>{{event.name}}</a>
      </dt>
      <dd class="timeline-event-content" id="event-{{event.pk}}EX">
      <p>{{event.description}}</p>
    </dl>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'timeliner/js/timeliner.min.js' %}">
</script>
<script type="text/javascript">
$(document).ready(function(){
  $.timeliner({
  });
});
</script>
{% endblock %}
