body {
	color: #cfcfcf;
}

.header,h1,h2,h3,h4,h5,h6 {
	color: #f0f0f0;
}

.label {
	color: #0f0f0f;
	position: relative !important;
}

div.jQBracket .team.highlight {
	background-color: red !important;
}

div.jQBracket .team {
	width: 150px;
}

.content-container {
	background-color: rgba(51,51,51,0.4);
	border: 1px solid red;
}

.match {
	min-height: 60px;
	text-align: center;
}


.team {
	z-index: 1;
	background-color: #EEE;
	border-top: 1px solid #999;
}
.team.loser {
	text-decoration: line-through;
	color: red;
}
.team.winner {
	font-weight: bolder;
}
table.match:first-child {
	border-top: none;
}

table.match {
	width: 100%;
}

table.match>caption {
	text-align: center !important;
	font-size: 18px;
	color: #eee;
}

tr.team>th {
	text-align: center !important;
	color: black;
}
tr.team.highlight {
	background-color: red;
}


.navbar {
	background-color: #222;
	color: #9d9d9d;
}

.navbar-nav .active {
	color: white;
}

.navbar-brand {
	height: 40px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 1em;
}

.footer {
	border-top: none;
}
