{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="OpenRA tournaments and competitions">
<meta name="author" content="OpenRA developers">

<title>{% block title %}OpenRA Competitions{% endblock %}</title>

{% block links %}
<link rel="stylesheet" {% if debug %}href="{% static 'bootstrap/dist/css/bootstrap.css' %}"{% else %}href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"{% endif %} />
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

<style>
.background {
	background-image: url("{% static 'img/bg.svg' %}");
}

@media (max-width: 480px) {
	.background {
		background-position-x: 6%;
		background-size: cover;
	}
}
</style>
</head>


<body id="page-top" class="background" data-spy="scroll" data-target=".navbar-inverse">

{% block noscript %}
<noscript>
	<p class="noscript">Uh oh! It looks like JavaScript isn't enabled in your
	browser. This page in particular requires JavaScript to run properly.
	Here are some
	<a href="http://www.enable-javascript.com/" target="_blank">
		handy instructions
	</a>
	in case you need them. Enjoy!</p>
</noscript>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">OpenRA Competitions</a>
		</div>

		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a class="active" href="{% url 'tourn:tournament_list' %}">Tournaments</a></li>
				<li><a href="{% url 'api-root' %}">API</a></li>
				<li>
					{% if user.is_authenticated %}
					<ul class="nav pull-right">
						<li class="dropdown btn">
						<a href="#" class="log-in-out dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'auth_logout' %}">Log out</a></li>
							<li><a href="{% url 'tourn:user_administered_teams' %}">My teams</a></li>
						</ul>
						</li>
					</ul>
					{% else %}
					<ul class="btn nav pull-right">
						<li><a class="log-in-out" href="{% url 'auth_login' %}">Log in</a></li>
					</ul>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}



{% block content %}
{% endblock %}



{% block footer %}
<footer class="footer nav navbar-fixed-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 text-center">
				<p>&copy;Copyright 2015 - OpenRA developers. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}



{% block scripts %}
<script type="text/javascript" {% if debug %}
	src="{% static 'jquery/dist/jquery.js' %}"{% else %}
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"{% endif %}>
</script>
<script type="text/javascript" {% if debug %}
	src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}" {% else %}
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"{% endif %}>
</script>
{% endblock %}


</body>

</html>
