/** Base site CSS, based on bootstrap's Jumbotron theme. */
/* Space out content a bit */
body {
	padding-top: 70px;
	padding-bottom: 20px;
	color: #e9e9e9;
}

.background {
	background-image: url("{% static 'img/bg.svg' %}");
}

button,input,select {
	color: black;
}

ul.errorlist {
	padding-left: 0;
}

ul.errorlist>li {
	color: red;
	list-style-type: none;
}

form li {
	margin-bottom: 5px;
	margin-top: 10px;
}

form li span.helptext {
	display: block;
}

form li label[for] {
	min-width: 100px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	padding-bottom: 19px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

.nav>li>a {
	padding-top:15px;
}
.nav>li>a.log-in-out {
	padding-top: 8px !important;
}
.nav .dropdown-menu {
	border-radius: 0;
}


/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	background-color: #222;
}

.last-section {
	margin-bottom: 100px;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
