{% extends 'tourn/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<section id="signup">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{% if tournament.name %}Signup: {{ tournament.name }}{% else %}Tournament signup{% endif %}</h1>

				<form method="post" action="{% url 'tourn:tournament_signup_player' tournament.id %}">
					{% csrf_token %}
					<ul class="list-unstyled">
						{{ form.as_ul }}
					</ul>
					<button type="submit" value="Submit">Sign up!</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
