{% extends 'tourn/base.html' %}

{% block content %}
<section id="signup-main" class="last-section">
	<div class="container">
		<div class="row">

			<h1>{% if tournament.name %}Signup: {{ tournament.name }}{% else %}Tournament signup{% endif %}</h1>

			<div class="col-md-12">
				{% if forms.enter_team %}
				{% include 'tourn/team_signup_fragment.html' with form=forms.enter_team %}
				{% else %}
				<h3>Enter an existing team</h3>
				<p class="text">Only team admins can enter their teams into
				tournaments. Either ask a team admin to enter you or
				<a href="{% url 'tourn:team_create' %}">create a new team</a>.</p>
				{% endif %}
			</div>

		</div>
	</div>
</section>
{% endblock %}
