{% extends 'tourn/base.html' %}

{% block content %}
<section id="team-list" class="last-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<dl class="list-unstyled">
					{% for team in team_list %}
					<li>
					<div>
						<a class="h3" href="{% url 'tourn:team_detail' team.pk %}">
							{{ team.name }}
						</a>
						<div class="h4">Most recent members:</div>
						<ul class="list-inline">
							{% for member_name in team.current_member_names %}
							<li>{{ member_name }}</li>
							{% endfor %}
						</ul>
						<div class="h4">Admins:</div>
						<ul class="list-inline">
							{% for admin_name in team.admin_names %}
							<li>{{ admin_name }}</li>
							{% endfor %}
						</ul>
					</div>
					</li>
					<hr>
					{% endfor %}
				</dl>
			</div>
		</div>
	</div>
</section>
{% endblock %}
