{% extends 'tourn/base.html' %}
{% load staticfiles %}


{% block title %}
<title>
  {% if tournament_name %}Tournament: {{ tournament_name }}
  {% else %}Tournament detail
  {% endif %}
</title>
{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'tourn/css/base.css' %}" />
<link rel="stylesheet"
  href="{% static 'jquery.bracket/dist/jquery.bracket.min.css' %}" />
{% endblock %}


{% block noscript %}
<p class="noscript">Uh oh! It looks like JavaScript isn't enabled in your
browser. This page in particular requires JavaScript to run properly.
Here are some
<a href="http://www.enable-javascript.com/" target="_blank">
  handy instructions
</a>
in case you need them. Enjoy!</p>
{% endblock %}


{% block content %}
<div class="container">

  {% if tournament.name %}
  <h1>{{ tournament.name }}</h1>
  {% endif %}

  <div id="brackets-container">
    <h2>Matches</h2>
    <div id="brackets"></div>
  </div>

  <div id="team-list-container">
    <h2>Teams</h2>
    <div id="team-list">
      <ul>
        {% for team in teams %}
        <li>{{ team.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% if tournament.winner %}
  <div id="winner-container">
    <h2>Winner</h2>
    <h3>{{ tournament.winner.name }}</h3>
  </div>
  {% endif %}
{% endblock %}


{% block scripts %}
<script type="text/javascript"
  src="{% static 'jquery.bracket/dist/jquery.bracket.js' %}">
</script>

<script type="text/javascript"
  src="{% static 'tourn/js/format-api-response.js' %}">
</script>

<script type="text/javascript">
  $(function() {
    var data = {% autoescape off %}{{ as_json }}{% endautoescape %};
    setupBrackets('#brackets', data);

    var bracketsOuter = $('#brackets'),
        bracketsInner = bracketsOuter.find('.bracket');
    bracketsOuter.height(bracketsInner.height());
    bracketsOuter.width(bracketsInner.width());
  });
</script>
{% endblock %}

  </body>
</html>
