{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}
{% if tournament.name %}{{ tournament.name }}{% else %}Tournament detail{% endif %}
{% endblock %}


{% block links %}
<link rel="stylesheet" {% if debug %}
href="{% static 'bootstrap/dist/css/bootstrap.css' %}"{% else %}
href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"{% endif %} />

<link rel="stylesheet" href="{% static 'jquery-bracket/dist/jquery.bracket.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'tourn/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'jquery-bracket/dist/jquery.bracket.min.css' %}" />
{% endblock %}


{% block content %}
<section id="tournament-summary">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>{{ tournament.name }}</h2>
				<div id="brackets-container" class="container">
					<div id="brackets">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="team-list">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Teams</h2>
				<div id="team-list">
					<ul>
						{% for team in teams %}
						<li>{{ team.name }}{% if team.short_name %} ({{ team.short_name }}){% endif %}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="commencement" style="margin-bottom: 100px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if not tournament.has_started %}
				<h2>Sign up</h2>
				<div id="signup-container">
					<p class="text">This tournament hasn't started yet.
					<a href="{% url 'tourn:tournament_signup_main' tournament.id %}" target="_blank">Sign up?</a>
					</p>
				</div>
				{% endif %}
			</div>

			<div class="col-md-12">
				{% if tournament.winner %}
				<div id="winner-container">
					<h2>Winner</h2>
					<h3>{{ tournament.winner.name }}</h3>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}


{% block scripts %}
<script type="text/javascript" {% if debug %}
	src="{% static 'jquery/dist/jquery.js' %}"{% else %}
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"{% endif %}>
</script>
<script type="text/javascript" {% if debug %}
	src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}" {% else %}
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"{% endif %}>
</script>
<script type="text/javascript" src="{% static 'jquery-bracket/dist/jquery.bracket.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tournament-bracket-converter/dist/tournament-bracket-converter.js' %}"></script>
<script type="text/javascript">
	lib.renderers.{{ tournament.renderer_name }}('#brackets', {% autoescape off %}{{ as_json }}{% endautoescape %});
</script>
{% endblock %}


</body>
</html>
